@charset "UTF-8";
@use "../utils/colors.scss" as *;

section {
    display: flex;
    flex-direction: column;
    place-items: center;

    & h1 {
        font-size: xx-large;
        cursor: pointer;

        & span {
            transition: color .125s;
            
            &.active {
                color: $primary-color;
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 468px;

    & input {
        font-size: large;
        padding: .5rem 1rem;
        border-radius: .5rem;
        border: none;


        &[type=submit] {
            background-color: green;
            cursor: pointer;
        }

        &[type=text], &[type=password] {
            outline: none;
            background-color: #ddd;
            color: $bg-color;
            font-family: inherit;
        }
    }
}